<div class="pizza_item">
    <div class="pizza_item__image">
        <div class="preview">
            <img 
            [src]="getImgSrc(item?.image)" 
            [alt]="'pizza_' + indx"
            style="max-width:100%;cursor:pointer"
            (click)="onClick($event)"
            class="modal-hover-opacity"
            data-toggle="modal"
            data-target="#myModal"
            >
        </div>
    </div>
    <p class="pizza_item__title">
        {{item?.title}}
    </p>
    <p class="pizza_item__description">
        {{item?.description}}
    </p>
    <button class="pizza_item__button">
        В корзину
    </button>
</div>
