<section class="welcome">
    <div class="welcome__text">
        <div class="welcome-info">
            <div class="welcome-info__title">
                <p class="welcome-info__title_top">Самая вкусная пицца в мире</p>
                <p class="welcome-info__title_bottom">только в Pizza Cheff</p>
            </div>

            <div class="welcome-info__body">
                
                <div class="best-feature">
                    <img class="best-feature__img" src="./assets/hop_481.png" alt="тесто">
                    <div class="best-feature__desc">
                        <div class="best-feature__title">
                            Лучшее тесто
                        </div>
                        <div class="best-feature__body">
                            Мы создаем тесто только из 
                            отборной итальянской муки
                            наивысшего качества
                        </div>
                    </div>
                </div>

                <div class="best-feature">
                    <img class="best-feature__img" src="./assets/seo_and_web_504.png" alt="тесто">
                    <div class="best-feature__desc">
                        <div class="best-feature__title">
                            гарантия качества
                        </div>
                        <div class="best-feature__body">
                            Пиццы готовят самые
                            профессиональные 
                            итальянские повара
                        </div>
                    </div>
                </div>

                <div class="best-feature">
                    <img class="best-feature__img" src="./assets/kitchen_pack_492.png" alt="тесто">
                    <div class="best-feature__desc">
                        <div class="best-feature__title">
                            лучшие повара
                        </div>
                        <div class="best-feature__body">
                            Наша пиццерия получила
                            множество наград и 
                            признаний по всему миру
                        </div>
                    </div>
                </div>

                <div class="best-feature">
                    <img class="best-feature__img" src="./assets/holidays_506.png" alt="тесто">
                    <div class="best-feature__desc">
                        <div class="best-feature__title">
                            отборные рецепты
                        </div>
                        <div class="best-feature__body">
                            Мы используем рецепты
                            от мировых лидеров
                            в изготовлении пиццы
                        </div>
                    </div>
                </div>
        
            </div>

            <button class="welcome-info__button">
                Выбрать пиццу
            </button>
        </div>
    </div>
    <div class="welcome__image">
        <img src="./assets/pizza_big_484.png" alt="большая пицца">
    </div>
</section>